<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Roboto&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>
            {% block title %}
            Page title
            {% endblock %}
        </title>
    </head>
    <body>
        <nav class="main_menu">
            <ul class="main_menu__ul">
                <li>
                    <a class="main_menu__link" href="/index.html/">Главная</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task1.html/">Задание 1</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task2.html/">Задание 2</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task3.html/">Задание 3</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task4.html/">Задание 4</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task5.html/">Задание 5</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task6.html/">Задание 6</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task7.html/">Задание 7</a>
                </li>
                <li>
                    <a class="main_menu__link" href="/task8.html/">Задание 8</a>
                </li>
            </ul>
        </nav>
        <header class="header">
            <h1 class="page_title">
                {% block header %}
                Page header
                {% endblock %}
            </h1>
        </header>
        <content class="content">
            <div class="content-box">
                {% block content %}
                Page content
                {% endblock %}
            </div>
        </content>
        <footer class="footer">
            <div class="footer-box">
                <p class="copyright_text">© 2024 Задания по 3 семинару.</p>
            </div>
        </footer>
    </body>
</html>