{% extends 'common.html' %}

{% block title %}
  Задание 2
{% endblock %}

{% block header %}
  Задание 2
{% endblock %}

{% block content %}
  <p class="text">Создать базу данных для хранения информации о книгах в библиотеке.</p>
  <p class="text">База данных должна содержать две таблицы: "Книги" и "Авторы".</p>
  <p class="text">В таблице "Книги" должны быть следующие поля: id, название,
    год издания, количество экземпляров и id автора</p>
  <p class="text">В таблице "Авторы" должны быть следующие поля: id, имя и фамилия.</p>
  <p class="text">Необходимо создать связь между таблицами "Книги" и "Авторы".</p>
  <p class="text">Написать функцию-обработчик, которая будет выводить список всех книг с указанием их авторов.</p>
  <p class="title">Решение</p>
  {% for book in books %}
    <p class="text">{{ book }} автор: {{ book.author }}</p>
  {% endfor %}

{% endblock %}