{% extends 'common.html' %}

{% block title %}
  Задание 3
{% endblock %}

{% block header %}
  Задание 3
{% endblock %}

{% block content %}
  <p class="text">Создать базу данных для хранения информации о студентах и их оценках в учебном заведении.</p>
  <p class="text">База данных должна содержать две таблицы: "Студенты" и "Оценки".</p>
  <p class="text">В таблице "Студенты" должны быть следующие поля: id, имя, фамилия, группа и email.</p>
  <p class="text">В таблице "Оценки" должны быть следующие поля: id, id студента, название предмета и оценка.</p>
  <p class="text">Необходимо создать связь между таблицами "Студенты" и "Оценки".</p>
  <p class="text">Написать функцию-обработчик, которая будет выводить список всех студентов с указанием их оценок.</p>
  <p class="title">Решение</p>
  {% for student in students_task3 %}
    <p class="text">{{ student }} оценки: {{ student.results }}</p>
  {% endfor %}

{% endblock %}