{% extends 'common.html' %}

{% block title %}
  Задание 5
{% endblock %}

{% block header %}
  Задание 5
{% endblock %}

{% block content %}
  <p class="text">Создайте форму регистрации пользователя.</p>
  <p class="text">Форма должна содержать поля: имя, электронная почта, пароль (с подтверждением),
    дата рождения, согласие на обработку персональных данных.</p>
  <p class="text">Валидация должна проверять, что все поля заполнены корректно
    (например, дата рождения должна быть в формате дд.мм.гггг).</p>
  <p class="text">ри успешной регистрации пользователь должен быть перенаправлен
    на страницу подтверждения регистрации.</p>
  <p class="title">Решение</p>
  <p class="subtitle">Проверьте введенные данные и подтвердите</p>
  <p class="text">Имя пользователя: {{ name }}</p>
  <p class="text">Электронная почта: {{ email }}</p>
  <p class="text">Дата рождения: {{ birthday }}</p>
  <a class="btn" href="{{ url_for('task5') }}">Подтверждаю</a>
  <a class="btn" href="{{ url_for('task5') }}">Отмена</a>
{% endblock %}